<!-- page header -->
<div class="jumbotron  header_custom">
    <div class="row justify-content-center row-margin">
        <a href="/homePage.html"><img src="/assets/images/weworkout-cropped.JPG" class="headerImg animate__animated animate__fadeInLeft"
            alt="WAPP header icon"></a>
    </div>
</div>

<!-- Create Workout Form -->
<div class="container form-container">
    <div class="row">
        <div class="col-sm">
            <form class="createWorkout">
                <h1 class="text-center form-header">Create a Workout</h1>
                <div class="form-group">
                    <input type="text" class="form-control" id="workout-name-input" placeholder="Workout Name">
                </div>
                <!-- exercises form group -->
                <div class="form-group">
                    <h5 class="select-list-title">Select Exercises</h5>
                    {{!-- upper body --}}
                    <div class="container img-container" id="upperBody-img-container">
                        <div class="row justify-content-center row-margin">
                            <img id="type-of-exercise" src="./assets/images/upperBody.jpg" alt="Responsive image" />
                            <h1 id="img-title">Upper Body</h1>
                        </div>
                    </div>
                    <div style="display: none" id="hidden-upperBody-exercises">
                        <p class="body-list-title" id="upperBody-exercises-header">Upper Body:</p>
                        {{#each upperBodyExercises}}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="exercise-input" aria-label="select-exercise">
                                </div>
                            </div>
                            <div type="text" class="form-control" aria-label="exercise"> {{ this.exercise }}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{!-- lower body --}}
                    <div class="container img-container" id="lowerBody-img-container">
                        <div class="row justify-content-center row-margin">
                            <img id="type-of-exercise" src="./assets/images/lowerBody.jpg" alt="Lower Body Exercises">
                            <h1 id="img-title">Lower Body</h1>
                        </div>
                    </div>
                    <div style="display: none" id="hidden-lowerBody-exercises">
                        <p class="body-list-title" id="lowerBody-exercises-header">Lower Body:</p>
                        {{#each lowerBodyExercises}}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="exercise-input" aria-label="select-exercise">
                                </div>
                            </div>
                            <div type="text" class="form-control" aria-label="exercise"> {{ this.exercise }}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{!-- cardio --}}
                    <div class="container img-container" id="cardio-img-container">
                        <div class="row justify-content-center row-margin">
                            <img id="type-of-exercise" src="./assets/images/cardio.jpg" alt="Cardio Exercises">
                            <h1 id="img-title">Cardio</h1>
                        </div>
                    </div>
                    <div style="display: none" id="hidden-cardio-exercises">
                        <p class="body-list-title" id="cardio-exercises-header">Cardio:</p>
                        {{#each cardio-exercises}}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="exercise-input" aria-label="select-exercise">
                                </div>
                            </div>
                            <div type="text" class="form-control" aria-label="exercise"> {{ this.exercise }}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{!-- with equipment --}}
                    <div class="container img-container" id="equipment-img-container">
                        <div class="row justify-content-center row-margin">
                            <img id="type-of-exercise" src="./assets/images/withEquipment.jpg"
                                alt="With Equipment Exercises">
                            <h1 id="img-title">With Equipment</h1>
                        </div>
                    </div>
                    <div style="display: none" id="hidden-equipment-exercises">
                        <p class="body-list-title" id="equipment-exercises-header">With Equipment:</p>
                        {{#each equipmentExercises}}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="exercise-input" aria-label="select-exercise">
                                </div>
                            </div>
                            <div type="text" class="form-control" aria-label="exercise">
                                {{ this.exercise }}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <!-- end exercises form-group -->
                </div>
                <!-- alert message -->
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <!-- Submit sign up form button -->
                <button type="submit" class="createWorkout_btn btn-large" value="submit">Create</button>
            </form>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>

<!-- blank row below card -->
<div class="row mb-10" id="empty"></div>

<!-- sticky footer -->
<nav class="navbar fixed-bottom justify-content-center">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/weWorkouts.html"><img class="linkImage" src='./assets/images/IconWe.png'
                    alt="We Workouts"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/myworkout"><img class="linkImage" src='./assets/images/IconMy.png'
                    alt="My Workouts"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/exercises"><img class="linkImage"
                    src='./assets/images/IconAllExercises.png' alt="Exercises"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/createworkout"><img class="linkImage" src='./assets/images/IconCreate.png'
                    alt="Create Workout"></a>
        </li>
    </ul>
    <!-- end sticky footer -->
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/createWorkout.js"></script>