<div class="homePage_banner fixed-top">
    <img src="./assets/images/weworkout.JPG" class="animate__animated animate__fadeInLeft" id="login_pic"></img>
</div>

<div class="container">
    <div class="row">
        {{#each workout}}
        <div class="col-sm-6">
            <div class="card text-white bg-light">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    {{!-- <p class="card-text">{{this.text}}</p> --}}
                    <ul>
                        {{#each exercise}}
                       
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>