<div class="homePage_banner fixed-top">
    <img src="./assets/images/weworkout.JPG" class="animate__animated animate__fadeInLeft" id="login_pic"></img>
</div>

<div class="container">
    <div class="row">
        {{#each workout}}
        <div class="col-sm-6">
            <div class="card text-white bg-light">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    {{!-- <p class="card-text">{{this.text}}</p> --}}
                    <ul>
                        {{#each exercise}}
                        <li>{{this.exerciseName}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>

<!-- blank row below card -->
<div class="row mb-10" id="empty"></div>

<!-- sticky footer -->
<nav class="navbar fixed-bottom justify-content-center">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/weWorkouts.html"><img class="linkImage" src='./assets/images/IconWe.png'
                    alt="We Workouts"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/myworkout"><img class="linkImage" src='./assets/images/IconMy.png'
                    alt="My Workouts"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/exercises"><img class="linkImage"
                    src='./assets/images/IconAllExercises.png' alt="Exercises"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/createworkout"><img class="linkImage" src='./assets/images/IconCreate.png'
                    alt="Create Workout"></a>
        </li>
    </ul>
    <!-- end sticky footer -->
</nav>