.header_custom {
  background-color:black
  }

  .jumbotron {
height: 170px;
padding: 0px;   
margin: 0px; }
.headerImg {
  height: 150px;
  /* margin-top: 0px; */
}

.card{
  margin-top: 10px;
  margin-bottom: 10px;
}