form.signup,
form.login {
  margin-top: 50px;
}

.homePage_banner {
  text-align: center;
  background-color: black;
}

#login_pic {
  height: 300px;
}


.homePage_buttons1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .homePage_buttons2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .img1 {
      margin-right: 20px;
  }
  
  /* HOMEPAGE */

/* .homePage_banner {
  text-align: center;
  background-color: black;
}

.homePage_buttons1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.homePage_buttons2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.img1,
.img2,
.img3,
.img4 {
  margin-left: 20px;
  margin-right: 20px;
} */


/* @media screen and (max-width:374px){
  .homePage_buttons1 {
    width: 50px;
    height: 50px;
  }

  .homePage_buttons2 {
    width: 50px;
    height: 50px;
  }
} */

  .navbar {
    background-color: black;
  }

  .nav-link {
    color: white;
    text-align: center;
}

#empty {
  padding: 25px;
  margin: 25px;
}
