form.signup,
form.login {
  margin-top: 50px;
}

.homePage_banner {
  text-align: center;
  background-color: black;
}

#login_pic {
  height: 100px;
}


.homePage_buttons1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .homePage_buttons2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  /* .img1 {
      margin-right: 20px;
  }

  .img3 {
    margin-right: 20px;
} */

  .navbar {
    background-color: black;
  }

  .nav-link {
    color: white;
    text-align: center;
}

#empty {
  padding: 25px;
  margin: 25px;
}

 @media screen and (min-width:500px){
  .linkImage {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width:500px){
  .appImage {
    width: 100%;
    margin-left: 0px;
  }
}