/* Stylesheet for login, sign up and create workout pages/forms */

/* prevents side scroll bar on small devices */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* header on all pages */
.jumbotron {
  height: 170px;
  padding: 0px;   
  margin: 0px;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.headerImg {
  height: 150px;
}

/* container for forms */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form.signup,
form.login,
form.createWorkout {
  margin-top: 50px;
}

.form-header {
  font-family: 'Passion One', cursive;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
}

/* Create workout file
img container */
.img-container {
    position: relative;
    text-align: center;
    color: white;
  }

/* img */
#type-of-exercise {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  height: 320px;
  width: 550px;
}
  @media screen and (max-width: 500px) {
    #type-of-exercise{
  height: 200px;
  width: 300px;
    }
}

/* Create workout file
Centered text over img */
#img-title {
  font-family: 'Passion One', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.4);
  width: 100%;
}

/* Create workout file
"Select exercises" */
.select-list-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 25px;
}

/* Create workout file
Type of exercise header- upper body, lower, cardio, equipment */
.body-list-title {
  margin-top: 25px;
  color: white;
  background-color: black;
  font-family: 'Passion One', cursive;
  font-size: 32px;
  width: 100%;
}

/* handlebars form */
.form-group {
  text-align: center;
}

input {
  display: flex;
  text-align: center;
}

/* submit buttons */
.login_btn,
 .signUp_btn,
 .createWorkout_btn {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: blue;
  color: white;
  border: none;
  margin: auto;
  display: block;
  margin-bottom: 0px;
  height: 50px;
  width: 300px;
  margin-bottom: 50px;
}

/* text and link to go to sign up/login below submit button */
.login_p {
 text-align: center;
 margin-top: 0px;
}

/* footer */
.navbar {
  background-color: white;
}

.nav-link {
  color: white;
  text-align: center;
}

#empty {
padding: 25px;
margin: 25px;
}

@media screen and (min-width:500px){
.linkImage {
  width: 80px;
  height: 80px;
}
}

@media screen and (max-width:500px){
.appImage {
  width: 100%;
  margin-left: 0px;
}
}