/* Stylesheet for login, sign up and create workout pages/forms */

/* prevents side scroll bar on small devices */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* header on all pages */
.jumbotron {
  height: 170px;
  padding: 0px;   
  margin: 0px;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.headerImg {
  height: 150px;
}

/* container for forms */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form.signup,
form.login,
form.createWorkout {
  margin-top: 50px;
}

.form-header {
  font-family: 'Passion One', cursive;
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
}

.form-group {
  text-align: center;
}

input {
  display: flex;
  text-align: center;
}

/* submit buttons */
.login_btn,
 .signUp_btn,
 .createWorkout_btn {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: blue;
  color: white;
  border: none;
  margin: auto;
  display: block;
  margin-bottom: 0px;
  height: 50px;
  width: 300px;
}

/* text and link to go to sign up/login below submit button */
.login_p {
 text-align: center;
 margin-top: 0px;
}




/* style below was moved to other css files but here just incase */

/* HOMEPAGE */
/* 
.homePage_banner {
  text-align: center;
  background-color: black;
}

.homePage_buttons1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.homePage_buttons2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.img1,
.img2,
.img3,
.img4 {
  margin-left: 20px;
  margin-right: 20px;
} */

/* @media screen and (max-width:374px){
  .homePage_buttons1 {
    width: 50px;
    height: 50px;
  }

  .homePage_buttons2 {
    width: 50px;
    height: 50px;
  }
} */
/* 
.exersiseList {
  justify-content: center;

}
.selectpicker {
  width: 'auto'
} */
